<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopping_point.vendor_shopping_point">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.CategoryActivity"
            android:label="Add Category"
            android:parentActivityName=".view.AddProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.vendor_shopping_point.view.AddProductActivity" />
        </activity>
        <activity
            android:name=".view.MyProductActivity"
            android:label="@string/my_products"
            android:parentActivityName=".view.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.vendor_shopping_point.view.HomeActivity" />
        </activity>
        <activity android:name=".view.UpdateProfileActivity" />

        <activity android:name=".view.AddProductActivity"
            android:label="@string/add_products"
            android:parentActivityName=".view.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.vendor_shopping_point.view.HomeActivity" />
        </activity>

        <activity
            android:name=".view.Banner_listActivity"
            android:label="Banner List"
            android:parentActivityName=".view.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.vendor_shopping_point.view.HomeActivity" />
        </activity>

        <activity android:name=".view.AddBannerActivity"
            android:label="@string/add_banner"
            android:parentActivityName=".view.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.vendor_shopping_point.view.HomeActivity" />
        </activity>
        <activity
            android:name=".view.NavNotification"
            android:label="@string/notifications"
            android:parentActivityName=".view.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.vendor_shopping_point.view.HomeActivity" />
        </activity>
        <activity
            android:name=".view.NavSettings"
            android:label="App info"
            android:parentActivityName=".view.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.vendor_shopping_point.view.HomeActivity" />
        </activity>
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.SignUpActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.AccountActivity"
            android:label="@string/my_account"
            android:parentActivityName=".view.HomeActivity"
            android:theme="@style/AccountTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.vendor_shopping_point.view.HomeActivity" />
        </activity>
        <activity
            android:name=".view.HelpActivity"
            android:label="@string/help_center"
            android:parentActivityName=".view.AccountActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.vendor_shopping_point.view.AccountActivity" />
        </activity>
        <activity
            android:name=".view.PasswordActivity"
            android:label="@string/change_password"
            android:parentActivityName=".view.AccountActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.vendor_shopping_point.view.AccountActivity" />
        </activity>
        <activity
            android:name=".view.PasswordAssistantActivity"
            android:label="@string/password_assistance"
            android:parentActivityName=".view.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.vendor_shopping_point.view.LoginActivity" />
        </activity>
        <activity
            android:name=".view.AuthenticationActivity"
            android:label="@string/passs_authentication"
            android:parentActivityName=".view.PasswordAssistantActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.vendor_shopping_point.view.PasswordAssistantActivity" />
        </activity>
        <activity
            android:name=".view.NewsFeedActivity"
            android:label="@string/news_feed"
            android:parentActivityName=".view.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.vendor_shopping_point.view.HomeActivity" />
        </activity>
    </application>

</manifest>